.dropdown {
    display: flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin-bottom: 5px;
    background: rgba(0,0,0,0.5);
}

.dropdown.options-hidden .options {
    display: none;
}

.main {
    display: flex;
    flex: 0 0 auto;
    background: white;
}

.icon-back {
    display: block;
    padding: 8px;
    margin: auto 0;
}

input {
    display: block;
    padding-left: 0;
    flex: 0 1 0;
}

.options {
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    margin-top: 4px;
    background: #ededed;
    z-index: 1000;
}

.option {
    padding: 8px 12px;
    background: white;
}

.option:not(:first-child) {
    margin-top: 4px;
}

@media (max-width: 1024px) {
    /*mobile*/
    .dropdown:not(.options-hidden) {
        max-height: 100%;
        height: 100%;
        position: fixed;
        top:0;
        left: 0;
        right: 0;
        overflow: auto;
        padding: 16px;

        display: flex;
        justify-content: center;
    }

    .dropdown.centered.no-input:not(.options-hidden) .main {
        display: none;
    }

    .dropdown:not(.options-hidden) .icon-back {
        transform: rotate(90deg);
        background: transparent;
    }
    .options {
        display: flex;
        overflow: auto;
    }
    .dropdown.centered:not(.options-hidden) .options {
        flex-grow: 0;
    }
}

@media (min-width: 1025px) {
    /* desktop */
    .dropdown {
        position: relative;
    }
    .dropdown:not(.options-hidden) .icon-back {
        transform: rotate(-90deg);
    }
    .options {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        overflow: auto;
        max-height: 256px;
    }
}

.option:hover {
    background: rgb(255, 239, 239);
}

.icon-back {
    color: rgb(255, 77, 102);
}

::-webkit-scrollbar-thumb {
    background: rgb(255, 77, 102);
}