* {
    box-sizing: border-box;
    border-radius: 0;
    line-height: 1;
    font-family: "Muli", sans-serif;
    font-size: 1rem;
    color: rgb(32, 32, 32);
}

:focus,
input {
    outline: 0;
    border: 0;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ededed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

input {
    padding: 8px 12px;
}

::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.1);
}